#-------------------------------------------------------------------------------
# Ignore these files when committing to a git repository.
# See http://help.github.com/ignore-files/ for more about ignoring files.
#-------------------------------------------------------------------------------

# Linux
*~
.directory

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
.AppleDouble
.LSOverride
._*

# Minetest stuff
debug.txt
